/* -*- mode:css coding:utf-8 -*- */

$max-width: 500px;
$base-font-color: #444;

#comments { display: none; }
body {
  max-width: #{$max-width};
  font-family: "Open Sans", sans-serif;
  font-size: 1.0em;
  color: #{$base-font-color};
  margin: 0px auto;
  padding: 0px 5px;
}

/* horizontal rules */
hr {
    border: 0;
    margin: 5px -5px;
    outline: none;
    height: 3px;
    background: transparent url("/images/hr.gif") center center repeat-x;
}

em, strong, time {
  font-family: "Raleway", sans-serif;
}

time {
  font-variant: oldstyle-nums;
  text-transform: lowercase;
}

h2, h3, h4, h5, h6 {
  font-family: "Droid Serif", serif;
}

.site_metas {
  background-color:#fff;
  color: #{$base-font-color};
  a { color: #{$base-font-color}; }
}

header[role="banner"] {
  @extend .site_metas;
  a {
    text-decoration: none;
    &:hover{
      text-decoration: underline;
      background-color: yellow;
    }
  }
  hgroup{
    h1 {
      margin: 0px;
      padding: 0px;
      margin-bottom: 0.5em;
      font-size: 2.5em;
      font-weight: 100;
    }
    h2 {
      margin: 0px;
      padding: 0px;
      font-size: 1em;
      font-weight: 100;
    }
    margin: 0px;
    padding: 0px;
  }

  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  @media screen and (max-width: 600px) {
    margin: auto;
  }
  padding: 0px;
  position: relative;
}

/* social-links */
#social-links {
  right: 0px;
  bottom: 0px;
  position: absolute;
  @media screen and (max-width: 600px) {
    position: static;
  }
  > ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    > li {
      display: inline-block;
      margin: 0px 6px;
      overflow: hidden;
    }
  }
}
@mixin social-links-base($img){
  @include mask-image('socialis/glyph/'+$img+'.png');
}
.maskImage{
  #social-links > ul > li > a {
    background-color: #999;
    display: block;
    text-indent: -999999em;
    position: relative;
    top: 0px;
    left: 0px;
    padding: 0px;
  }

  @each $name in github, twitter, tumblr, feed {
    #social-links-#{$name} {
      > a {
        @include social-links-base(#{$name});
        &:hover {
          @if $name == twitter { background-color: #39c; }
          @else if $name == tumblr { background-color: #357; }
          @else if $name == feed { background-color:#e93; }
          @else { background-color: #ccc; }
        }
      }
    }
  }
}
/* /social-links */

#content{
  margin-top: -10px;
  margin-bottom: 20px;
  a{
    color: #33c;
  }
  a:visited{
    color: #939;
  }
  a:hover{
    background-color: yellow;
  }
  dl{
    margin: 1em;
  }
  dt{
    margin-top: .6em;
    font-style: italic;
  }
}
.entry > header{
  margin-top: 30px;
  margin-bottom: 20px;
}


p.meta{
  text-align: right;
}

footer[role="contentinfo"]{
  @extend .site_metas;
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-size: 80%;
  p {
    margin: 0px;
  }
}

/* archive page */
#blog-archives  ul  li{
  list-style-type: none;
}

/* disqus */
#dsq-reply > h3, #dsq-account-dropdown, #dsq-subscribe { display: none; }
#disqus_thread #dsq-content #dsq-global-toolbar { margin: 0.3em 0px; }
#dsq-reply{ margin: 0.3em}
