---
layout: page
is_top: true
---
<div id="top">

  <section id="recent_posts">
    <h1>recent posts</h1>

    <ul>
    {% for post in paginator.posts %}
      <li>
        <article>
          <a rel="full-article" href="{{ post.url }}">{{ post.title }}</a>
          （<time datetime="{{post.date}}" pubdate>{{post.date_formatted}}</time>）
        </article>
      </li>
    {% endfor %}
    </ul>

    <p><a href="/blog/archives">&laquo; post archive</a></p>

  </section>

  {% include asides.html %}

</div>
